@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald&family=Poppins&display=swap");

$primaryColor: #0098fe;
$textColor: white;

$theme-one-bg: #0098fe;
$theme-one-text: white;

$theme-two-bg: #164e63;
$theme-two-text: white;

$theme-three-bg: #ffd60a;
$theme-three-text: black;

:root {
  --bgCol: #0098fe;
  --textCol: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@mixin flexbox($dir, $justify_content, $align_item, $gap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify_content;
  align-items: $align_item;
  gap: $gap;
}

.app {
  width: 100vw;
  min-height: 100vh;
  @include flexbox(column, flex-start, flex-start, 0);
  padding: 0px 10vw;
}

.Login-page,
.SignUp-page {
  width: 100%;
  height: 100vh;
  @include flexbox(column, center, center, 10px);

  .auth-card {
    background-color: white;
    width: 24rem;
    min-height: 368px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 60px;
    border-radius: 20px;
    @include flexbox(column, flex-start, center, 30px);

    form {
      width: 100%;

      @include flexbox(column, center, flex-start, 28px);
      overflow: hidden;

      .input-box {
        width: 100%;
        @include flexbox(column, flex-start, flex-start, 8px);

        input {
          width: 100%;
          padding: 6px;
          border-radius: 6px;
          border: 1px solid gray;
          outline: none;
        }
      }

      #submit {
        padding: 4px 20px;
        background-color: $primaryColor;
        color: $textColor;
        border: none;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
    .credentials {
      width: 100%;
      font-size: 14px;
      @include flexbox(column, center, center, 8px);
    }
  }
}

.header {
  background-color: var(--bgCol);
  color: var(--textCol);
  width: 100%;
  @include flexbox(row, space-between, flex-start, 10px);
  padding: 10px 10vw;
  position: fixed;
  left: 0;
  top: 0;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
  }
}

#home,
#info,
#about {
  padding:100px 0;
  
  min-height: 100vh;
  @include flexbox(column, flex-start, flex-start, 28px);

  h2 {
    color: var(--bgCol);
  }
}
#home {
  .stack-div {
    @include flexbox(row, flex-start, flex-start, 100px);
  }
  ol{
    li{
      margin-bottom: 20px;
    }
  }
  
  .content{
    @include flexbox(column, flex-start, flex-start, 18px)
  }
}

.theme-selector {
  background-color: white;
  @include flexbox(row, center, center, 16px);
  position: fixed;
  right: 10vw;
  bottom: 60px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 1px 6px 1px #cdcccc;

  .themes {
    @include flexbox(row, center, center, 10px);

    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }

    .theme-one {
      background-color: $theme-one-bg;
    }
    .theme-two {
      background-color: $theme-two-bg;
    }
    .theme-three {
      background-color: $theme-three-bg;
    }
  }
}

.footer {
  height: 160px;
  width: 100%;
  @include flexbox(column, center, center, 10px);
  padding: 10px 0;
  background-color: var(--bgCol);
  color: var(--textCol);

  li {
    list-style: none;
    display: inline-block;
    margin: 0 16px;
  }
}

// .theme_one {
//   .header,
//   .footer {
//     background-color: $theme-one-bg;
//     color: $theme-one-text;
//   }
//   #home,
//   #about,
//   #info {
//     h2 {
//       color: $theme-one-bg;
//     }
//   }
// }

// .theme_two {
//   .header,
//   .footer {
//     background-color: $theme-two-bg;
//     color: $theme-two-text;
//   }

//   #home,
//   #about,
//   #info {
//     h2 {
//       color: $theme-two-bg;
//     }
//   }
// }

// .theme_three {
//   .header,
//   .footer {
//     background-color: $theme-three-bg;
//     color: $theme-three-text;
//   }
//   #home,
//   #about,
//   #info {
//     h2 {
//       color: $theme-three-bg;
//     }
//   }
// }
